#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgba(12, 11, 61, 0.884);
  color: white;
}

.nav-link {
  font-size: 30px;
  margin: 0 10px;

  color: whitesmoke;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(238, 180, 35);
  text-decoration: underline;
}

.page-headings {
  font-size: 32px;
  margin-top: 50px;
  color: rgb(255, 62, 120);
}
/* ----REVIEW CARD----- */
.review-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.review-card {
  border: 2px solid black;
  margin: 50px;
  width: 450px;
  height: 350px;
  list-style: none;
  position: relative;
  background-color: rgba(204, 14, 71, 0.884);
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
  color: lightgray;
}

.review-card-title {
  margin-top: 30%;
  color: white;
}

.review-card-username {
  color: rgba(255, 255, 255, 0.774);
}

.review-card-comment_count {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.review-card-votes {
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.review-card-btn {
  border: 2px solid navy;
  background-color: gainsboro;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
}

/* ----SINGLE-REVIEW-CARD----- */

.single-review-info-container {
  display: flex;
}
.single-review-card {
  list-style: none;
  position: relative;
}

.single-review-votes {
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 20%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbs {
  padding: 5px;
}
.thumbs-up {
  background-color: rgb(5, 207, 5);
}

.thumbs-down {
  background-color: rgb(253, 43, 43);
}
.single-review-img {
  width: 60%;
  height: 400px;
  padding: 15px 0;
}

.single-review-date {
  position: absolute;
  bottom: 0;
  right: 20%;
  max-width: 150px;
  width: 40%;
}

.single-review-btn {
  margin-top: 30px;
}

/* ----COMMENTS----- */

.comments-heading {
  margin-top: 150px;
  margin-bottom: -50px;
  font-size: 40px;
  color: rgb(255, 62, 120);

  text-decoration: underline;
}

.comment-card-container {
  display: flex;
  flex-direction: column;
}
.comment-card {
  list-style: none;
  position: relative;
  margin-top: 100px;
}
.comment-card-author {
  position: absolute;
  top: -30%;
  left: 10%;
  font-weight: 600;
  color: rgb(255, 62, 120);
}

.comment-card-body {
  background-color: white;
  border-radius: 10px;
  text-align: left;
  height: 150px;
  width: 80%;
  margin: 0 auto;
  color: navy;
  display: flex;
  padding: 5px 0 0 5px;
}

.comment-card-votes {
  position: absolute;
  bottom: -30%;
  left: 10%;
}

.comment-card-date {
  position: absolute;
  bottom: -30%;
  right: 10%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
